# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Dataset folders
Dataset/
Fruit Freshness Dataset/

# YOLO training outputs
runs/

# Model weights
*.pt
yolov8n.pt

# Jupyter notebook checkpoints
.ipynb_checkpoints/